.site-footer {
    grid-area: footer;
  }
  
  .site-footer {
    background-color: $color__footer_background;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .site-footer h2, .site-footer p, .site-footer a, .site-footer a:visited {
    color: $color__background-body;
  }
  
  .site-footer a:hover, .site-footer a:active, .site-footer a:focus {
    color: $color__text-screen;
  }
  
  .custom-logo {
    width: 9.375rem;
  }
  
  .footer-credits, .footer-nav {
    text-align: center;
  }
  
  .footer-nav .menu-footer-navigation-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  @media screen and (min-width: 62.5em) {
    .site-footer {
      flex-direction: row;
      justify-content: space-around;
    }
  
    .footer-credits, .footer-nav {
      text-align: left;
    }
  }