.schedule {
  border-collapse: collapse;
  border: 1px solid rgb(166, 215, 255);
  caption {
    padding: 1rem 0;
    font-weight: 900;
  }
  th {
    text-align: left;
    background-color: rgb(27, 145, 255);
    color: white;
  }
  tr {
    display: block;
    border: 1px solid rgb(166, 215, 255);
  }
  th,
  td {
    display: block;
    padding: 0.5rem;
  }
}
@media (min-width: 37.5em) {
  .schedule tr {
    display: table-row;
  }
  .schedule th,
  .schedule td {
    display: table-cell;
    width: 20%;
    padding: 1rem;
  }
}
