.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.main-navigation .menu .sub-menu {
	display: flex;
}

@media(min-width: 50em) {

	.menu-toggle {
		display: none !important;
	}

	.main-navigation .menu {
		display: flex !important;
		position: fixed;
		top: 0.15rem;
		left: 10rem;
	}

	.main-navigation .menu li:hover, .main-navigation .menu li:active {
		background-color: $color__text-screen;
	}

	.main-navigation .menu .sub-menu {
		display: block;
		background-color: $color__header_background;
	}

}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

.site-navigation {
	position: relative;
}

.menu-toggle {
	position: absolute;
	top: 0.1rem;
	right: 0.4rem;
	border: none;
	background-color: transparent;
}

.menu-svg {
	color: $color__background-body;
	width: 2.5rem;	
}
