body {
  background: $color__background-body; // Fallback for when there is no custom background color defined.
}

.site-main {
  max-width: 62.5rem;
  margin: 0 auto !important;
  margin-top: 5rem !important;
}