body {
  background: $color__background-body; // Fallback for when there is no custom background color defined.
}

// .one-one, .two-two {
// 	border: 1px solid black;
// 	width: 30rem;
// 	height: 70rem;
// }

// front-page ====================================================
.site {
  max-width: 137.5rem;
  margin: 0 auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr minmax(0, 62.5rem) 1fr;
  grid-template-areas:
    "header header header"
    ". main ."
    ". sidebar ."
    "footer footer footer";
}

.site-header {
  width: 100%;
  height: 55px;
  background-color: #000000;
  border-top: 3px solid #305c9f;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  grid-area: header;
}

.site-footer {
  background-color: #333;
  margin-top: 20px;
  padding: 1rem;
  font-size: 0.875rem;
  color: #fff;
  text-align: center;
  grid-area: footer;
}

.site-main {
  grid-area: main;
  margin-top: 55px;
  padding: 0 1rem;
  .page {
    margin: 0;
  }
}

.home .entry-content {
  a {
    position: relative;
    display: block;
    margin: 0 auto 1rem;
    max-width: 300px;
  }
  h3 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
  }
  img {
    display: block;
  }
}
@media (min-width: 50em) {
  .home .entry-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    h2,
    p {
      width: 100%;
    }
    a {
      margin: 0 0.5rem 1rem;
    }
  }
}

.alignwide {
  display: block;
  width: auto;
  max-width: 100vw;
  margin: 2rem calc(50% - 50vw);
}
.alignfull {
  display: block;
  width: 100vw;
  max-width: 100vw;
  margin: 2rem calc(50% - 50vw);
}
@media (min-width: 81.25em) {
  .alignwide {
    max-width: 81.25rem;
    margin-left: -150px;
    margin-right: -150px;
  }
}

// page-schedule ====================================================
.schedule {
  border-collapse: collapse;
  tr {
    display: block;
    padding: 1rem;
    background-color: #eee;
  }
  tr:nth-of-type(odd) {
    background-color: #fff;
  }
  th,
  td {
    display: block;
  }
  th {
    text-align: left;
  }
}
@media (min-width: 37.5em) {
  .schedule tr {
    display: table-row;
  }
  .schedule th,
  .schedule td {
    display: table-cell;
    width: 33.33%;
    padding: 2rem;
  }
}

// archive-students ====================================================
.student-item {
  max-width: 300px;
  margin: 0 auto;
  a,
  a:visited {
    color: #003c71;
    text-decoration: none;
    font-weight: 700;
  }
  p:nth-of-type(1) {
    a {
      display: block;
    }
  }
  img {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
}
@media (min-width: 37.5em) {
  .students {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .student-item {
    width: 48%;
    margin: 0 0 3rem;
  }
}
@media (min-width: 56.25em) {
  .student-item {
    width: 30%;
  }
}
